
body { 
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

ul { 
    list-style-type: none;
    display: flex;
    gap: 10px; 
}

h1, p { 
    margin: 1px;
}

button { 
    background-color: #3882f6;
    border-radius: 5px;
    margin-top: 2.5px;
    padding: 7.5px;
    width: 200px;
}

img { 
    width: 150px;
    height: 150px;
    margin: 10px; 
}

.bold { 
    font-weight: bolder;
}

.header { 
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    color: #f9faf9;
    margin: 0;
}

.nav-bar { 
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.left, .right { 
    padding: 30px;
}

.main-text { 
    display: flex; 
    justify-content: center;
    align-items: center;
}

.head-text { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7.5px;
    padding-top: 100px;
    padding-left: 100px;
    padding-bottom: 100px;
}

.body-text { 
    color: #FFF1e6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.body-text h1 { 
    color: black;
}

.boxes { 
    display: flex;
}

.box-container { 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.box-container li { 
    border: solid #87CEEB 10px;
    border-radius: 15px;
    width: 100px;
    height: 100px;
}

.box-container ul { 
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px; 
}

.text { 
    color: black; 
}

.quote { 
    margin-top: 20px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-text { 
    margin-top: 20px;
    font-size: 36px;
    color: #1f2937;
}

.call-to-action { 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
    color: #E5E7EB;
}

.advertisement {
    display: flex;
    background-color: #3882f6;
    border: #3882f6 30px;
    border-radius: 10px;
    color: #f9faf9;
    padding: 50px;
    gap: 30px;
}

.advertisement button { 
    color: #f9faf9;
}

